html{
    height:100%;
}
body{
    background-image:url("rockywall.png");
    margin:0px;
    padding:0px;
    min-height:100%;
}


#content-box{
    width:75%;
    height:735px;

    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;

    margin-top:10px;
    margin-right:auto;
    margin-bottom:50px;
    margin-left:auto;

    background-color:#ffffff;
    border:3px solid #dddddd;
}

/*Content Title Start*/
#row-title{
    width:97.91667%;
    height:40px;
    background-color:#ffffff;

    margin-top:10px;
    margin-right:auto;
    margin-bottom:10px;
    margin-left:auto;
    
    border:3px solid #dddddd;
    border-top:none;
    border-right:none;
    border-bottom:;
    border-left:none;
    
}
#box-title{
    height:100%;
    width:100%;
    line-height:25px;

    padding-right:0px;
    padding-left:0px;

    font-size:24pt;
    color:#4aaaa5;
    font-family:'Georgia', Times, 'Times New Roman', serif;
}
/*Content Title End*/

/*Start input box area*/
#row-box{
    width:97.91667%;
    background-color:#ffffff;

    margin-top:10px;
    margin-right:auto;
    margin-bottom:10px;
    margin-left:auto;
}

#column-label{
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color:#777777;
    font-weight:bold;
    height:100%;
    width:100%;

    padding-right:0px;
    padding-left:0px;
    
}

#textarea-1{
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color:#777777;
    font-weight:bold;
    height:100%;
    width:100%;

    padding-right:0px;
    padding-left:0px;

}
#textarea-2{
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color:#777777;
    font-weight:bold;
    height:400px;
    width:100%;

    padding-right:0px;
    padding-left:0px;

}
#textarea-3{
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color:#777777;
    font-weight:bold;
    overflow:scroll;
    height:400px;
    width:100%;

    padding-right:0px;
    padding-left:0px;

}

