#footer-parent {
    background-color: #666666;
    position:fixed;
    bottom:0;
    width:100%;
    height:30px;
    border-top: 3px solid #4aaaa5;
    margin-top:20px;
    /*
    padding-top:5px;
    padding-right:;
    padding-bottom:5px;
    padding-left:;

    margin-top:;
    margin-right:;
    margin-bottom:;
    margin-left:;
    
    border-style:solid;
    border-color:#4aaaa5;
    border-top:20px;
    border-right:0px;
    border-bottom:0px;
    border-left:0px;
    */
}

/*
#footer-child{
    width:100%;
    height:100%;
    position:relative;
}
*/

#copy-box{
    color:#ffffff;
    background-color: #666666;
    font-size:12px;
    text-align:center;
    
    width:300px;
    
    padding-top:3px;
    padding-right:0px;
    padding-bottom:3px;
    padding-left:0px;

    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    
    

    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}