#footer-parent {
    background-color: #666666;
    position:fixed;
    bottom:0;
    width:100%;
    height:30px;
    border-top: 3px solid #4aaaa5;
    margin-top:20px;
}

#copy-box{
    color:#ffffff;
    background-color: #666666;
    font-size:12px;
    text-align:center;
    
    width:300px;
    
    padding-top:3px;
    padding-right:0px;
    padding-bottom:3px;
    padding-left:0px;

    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}