#header-box{
    width:100%;
    height:70px;
    background-color:#ffffff;
    border:3px solid #dddddd;
    position:relative;
}

#name-box{
    
    height:40px;
    width:16.796875%;
    position:absolute;
    bottom:0;
    left:12.5%;
    background-color:#4aaaa5;
    color:#ffffff;
    text-align:center;
    line-height:35px;

    border:2px solid #dddddd;
    border-bottom:none;

    font-size: 2.5vw;

    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;

    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;

    font-family:'Georgia', Times, 'Times New Roman', serif;
}

/*links box positioning */
.buttons-box{
    height:40px;
    width:16.796875%;
    position:absolute;
    bottom:1px;
    right:12.5%;
    background-color:#ffffff;
    text-align:center;
    line-height:36px;

    font-size:1.125vw;

    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;

    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;

    font-family:'Arial', 'Helvetica Neue' Helvetica, sans-serif;
    font-weight:bold;
}

/*Links 1&2 styling with border */
#linkz{
    color:#777777;
    padding-right:5px;
    border:2px solid #4aaaa5;
    border-top:none;
    border-bottom:none;
    border-left:none;
}

#linkz:hover{
    color:#4aaaa5;
}

#linkz:active{
    color:#1b857f;
}

/*Third link no-border */
#no-border{
    border:none;
    color:#777777;
    padding-right:5px;
}

#no-border:hover{
    color:#4aaaa5;
}

#no-border:active{
    color:#1b857f;
}

